#top-bar{
    background-image: linear-gradient(to bottom, #0D0D0D 0%, #0528F2 100%);
    width: 100vw;
    height: 50vh;
    z-index: 1;
    position: absolute;
}
#bottom-bar{
    width: 100vw;
    height: 50vh;
    background-color: #0D0D0D;
    z-index: 1;
    bottom: 0vh;
    position: absolute;
}
#circle{
    border-radius: 50%;
    background-color: white;
    background-image: url("../images/vectorimage.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 250px;
    height: 250px;
    border: 2px #0d0d0d solid;
    position: absolute;
    top: 42vh;
    left: 40vw;
    z-index: 2;
    transition: transform .8s;
}
#circle:hover{
    transform: rotate(90deg);
}
#main-page{
    display: none;
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    min-height: 100%;
    background: linear-gradient(
        to bottom,
        #0d0d0d,
        #0528f2 3px,
        #0d0d0d 8px
    );
    background-size: 100% 100px;
}
.header-bar{
    width: 90vw;
    height: 70px;
    background-color: #c9ffff;
    display: flex;
    justify-content: space-between;
    margin: 10vh auto;
    border: 1px #999999 solid;
}
#name{
    width: 25%;
    background-color: #021AA6;   
    padding: 15px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 2px #0D0D0D
}
h1{
    color: #c9ffff;
    text-align: center;
}
#choices{
    width: 75%;
    padding: 20px;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    color: #F2BA05;
    text-align: end; 
}
#about-me{
    background-color: #c9ffff;
    color: #0d0d0d;
    width: 75%;
    margin: 0px auto;
    margin-bottom: 60px;
    padding: 30px;
    border: 1px #999999 solid;
}
.paragraph{
    padding: 20px;
    font-size: 20px;
    color: #0d0d0d;
    font-family: 'Noto Sans TC', sans-serif;
}
p::first-letter{
    color: #F2BA05;
    font-family: 'Notable', sans-serif;
    text-shadow: 2px 2px 2px #A67E00, 2px 2px #0d0d0d;
    font-size: 24px;
}
#photo{
    max-height: 50vh;
    max-width: 25vw;
}